<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for([:admin,@subscriber], html: { class: 'form-horizontal' }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

			<%= f.input :name, label: "Nome" %>
			<%= f.input :tag_name, label: "Nome Crachá" %>
			<%= f.input :birth_date, as: :string, label: "Data de Nascimento", input_html: { alt: "date", value: @subscriber.new_record? ? "" : @subscriber.birth_date.strftime("%d/%m/%Y") } %>
			<%= f.input :gender, as: :radio_buttons, collection: [['Masculino','M'],['Feminino','F']], label: "Sexo" %>
			<%= f.input :phone, as: :string, label: "Telefone", input_html: { alt: "newphone" } %>
			<%= f.input :cellphone, as: :string, label: "Celular", input_html: { alt: "newphone" } %>
			<%= f.input :email, label: "E-mail" %>
			<%= f.input :church_id, collection: @churches, label: "Igreja" %>
			<%= f.input :payment_plan_id, collection: @payment_plans, label: "Plano de Pagamento" %>
			<%= f.input :food_restriction, as: :radio_buttons, collection: [['Não','N'],['Sim','S']], label: "Restrições Alimentares" %>
			<%= f.input :food_restriction_notes, label: "Quais?" %>
			<%= f.input :family, label: "Cônjuge/Familiares" %>
			<%= f.input :hosting_preference, as: :radio_buttons, collection: [['Local do Encontro','L'],['Hotel ou Pousada','H']], label: "Preferência de Hospedagem", hint: '* Hospedagem em Hotel ou Pousada será por conta do participante.' %>
			<%= f.input :arrival_date, as: :string, label: "Data de Chegada", input_html: { alt: "date", value: @subscriber.new_record? || @subscriber.arrival_date.nil? ? "" : @subscriber.arrival_date.strftime("%d/%m/%Y") } %>
			<%= f.input :arrival_option, as: :radio_buttons, collection: [['Ônibus Igreja','P'],['Ônibus Viagem','V'],['Avião','A'],['Carro','C']], checked: @subscriber.new_record? ? "" : @subscriber.arrival_option, label: "Opção de Transporte" %>
			<%= f.input :arrival_notes, label: "Observações da Chegada" %>
			<%= f.input :extra_notes, label: "Observações Extras" %>

      <%= f.submit "Salvar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
