<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Idade</Data></Cell>
        <Cell><Data ss:Type="String">Restrição Alimentar</Data></Cell>
        <Cell><Data ss:Type="String">Observações</Data></Cell>
      </Row>
    <% @subscribers.each.with_index(1) do |subscriber, index| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= index %></Data></Cell>
        <Cell><Data ss:Type="String"><%= subscriber.name.mb_chars.upcase %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= subscriber.age %></Data></Cell>
        <Cell><Data ss:Type="String"><%= subscriber.food_restriction_notes %></Data></Cell>
        <Cell><Data ss:Type="String"><%= subscriber.extra_notes %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
