<h1>Inscrições</h1>
<div class="row">
	<div >
		<div class="table-responsive">
			<table class="table table-condensed table-hover table-bordered">
			  <thead>
			    <tr>
			      <th></th>
				  <th><%= sortable "name", "Nome" %></th>
				  <th><%= sortable "birth_date", "Idade" %></th>
				  <th><%= sortable "email", "Email" %></th>
				  <th><%= sortable "church_id", "Igreja" %></th>
				  <th><%= sortable "created_at", "Data Inscrição" %></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @subscribers.each.with_index(1) do |admin_subscriber, index| %>
			      <tr>
			      	<td><%= index %></td>
			        <td><%= admin_subscriber.name %></td>
			        <td><%= admin_subscriber.age %></td>
			        <td><%= admin_subscriber.email %></td>
			        <td><%= admin_subscriber.church.abbr %></td>
			        <td><%= admin_subscriber.created_at.strftime("%d/%m/%Y %H:%M") %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>