<!DOCTYPE html>
<html>
  <head>
    <title>Igreja Evangélica Holiness de Cuiabá</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Contato", contact_path %></li>
            <li><%= link_to "Impressão", print_path %></li>
            <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Preferências", edit_user_registration_path %></li>
              <li><%= link_to "Estados/Cidades", admin_states_path %></li>
              <li><%= link_to "Usuários", admin_users_path %></li>
              <li><%= link_to "Igrejas", admin_churches_path %></li>
              <li><%= link_to "Planos de Pagamento", admin_payment_plans_path %></li>
              <li><%= link_to "Inscrições", admin_subscribers_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="center jumbotron">
        <h1>Página não encontrada</h1>
      </div>
      <footer class="footer">
        <small>
          <a href="http://www.holinesscba.com.br/">Igreja Holiness de Cuiabá</a>
        </small>
      </footer>
    </div>
  </body>
</html>
