<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for [:admin,@church] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.input :name, label: "Nome", class: 'form-control' %>
      <%= f.input :city_name, url: autocomplete_city_name_admin_churches_path, as: :autocomplete, id_element: '#church_city_id' , label: "Cidade", class: 'form-control' %>
      <%= f.input :city_id, as: :hidden %>

      <%= f.submit "Salvar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
