<h1>Cidades do <%=@state.name%></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |admin_city| %>
      <tr>
        <td><%= admin_city.name %></td>
        <td><%= link_to image_tag("page_edit.png", alt: "Editar"), edit_admin_state_city_path(admin_city.state_id,admin_city) %></td>
        <td><%= link_to image_tag("page_delete.png", alt: "Excluir"), admin_state_city_path(admin_city.state_id,admin_city), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Cidade', new_admin_state_city_path, class: "btn btn-lg btn-primary" %>
<br>
