<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Contato", contact_path %></li>
        <% if user_signed_in? %>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">	<%= current_user.email %> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><%= link_to "Preferências", edit_user_registration_path %></li>
					<li><%= link_to "Estados/Cidades", admin_states_path %></li>
					<li><%= link_to "Usuários", admin_users_path %></li>
					<li><%= link_to "Igrejas", admin_churches_path %></li>
					<li><%= link_to "Planos de Pagamento", admin_payment_plans_path %></li>
					<li><%= link_to "Inscrições", admin_subscribers_path %></li>
					<li class="divider"></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
		<% else %>
			<li><%= link_to "Registrar", new_user_registration_path, :class => 'navbar-link'  %></li>
			<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
		<% end %>
      </ul>
    </nav>
  </div>
</header>